body {
    /* background-color: #a6d1f6; */
    /* background-color: black; */
    background-image: url('./pictures/large-5.jpg');
    background-position: center;
    /* background-position: bottom right; */
    background-size: cover;
    backdrop-filter: blur(3px);
    background-attachment: scroll;
    font-family: 'Baloo 2';
    scroll-behavior: smooth;
    position: relative;
    /* overflow: hidden; */
    margin: 0px;
}

/* navbar  */
.navbar {
    font-family: 'roboto';
}

.fa-fish {
    color: #0275d8;
    background-color: white;
    border-radius: 100%;
    padding: 5px;
}

.ani {
    transition: 0.2s;
    /* border-bottom: 5px solid #0275d8; */

}


.ani:hover {
    background-color: #0275d8;
    /* background: rgba(255, 255, 255, 0.5); */
    border-radius: 6px;
    /* padding: 5px 10px; */
    /* color: #0275d8; */

}

/* signup  */
.main {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    border-left: none;
    border-bottom: 0.01px solid rgba(159, 159, 159, 0.5);
    border-right: 0.01px solid rgba(187, 187, 187, 0.5);
    border-top: none;
    color: white;
    box-shadow: 20px 20px 10px rgba(0, 0, 0, 0.5);
    font-family: 'roboto';
    overflow: hidden;
    margin-top: 50px;
}
.background-img{
    background-image: url('./pictures/large\ 4000x2500.jpg');
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}


/* footer   */
footer{
    margin-top: 250px;
}
.footer-color {


    /* background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(5px); */

    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border-top: 0.1px solid rgba(64, 64, 64, 0.5);
}

.media-icons {
    text-decoration: none;
    /* height: 50px; */
    /* padding: ; */
}

.fab {
    color: white;
    padding: 10px;
    border-radius: 100%;
}

.fab:hover {
    color: white;
    background-color: #0275d8;
    /* padding: px; */
}